@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@* <span>@amount</span> *@

<Counter incrementAmount="@amount" />

@code {
    <!-- string text -->

    int amount = 10;
}